body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.box{
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    background-color: black;
    text-align: center;
    border-radius: 14em;
    box-shadow: 5px 50px 50px rgba(252, 5, 5, 0.699);
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}

.box{
    border: 0;
    background-color: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(30, 15, 235);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
width: 180px;
border-color: rgb(56, 240, 87);
}

.box input[type = "submit"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
font-size: 100%;
border: 3px solid rgb(35, 240, 35);
padding: 14px 40px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: rgb(92, 240, 92);
}